body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
}

header {
  background-color: #9c27b0; /* Roxo vibrante */
  color: white;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

header h1 {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
}

.search-bar {
  display: flex;
  gap: 10px;
}

.search-bar input[type="text"] {
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  width: 200px;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #5c0550;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.search-bar button:hover {
  background-color: #46022c;
}

main {
  padding: 40px;
}

#mensagem {
  color: #d32f2f;
  font-weight: bold;
}
