/*Cabeçalho*/
.header
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #8000FF;
}

.header h1
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    padding-left: 30px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.header img
{
    width: 60px;
    height: 60px;
    padding-right: 30px;
}

html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto; /*libera o scroll quando n tem mais espaço na tela*/
}

/*Detalhes das pastas*/
.pasta 
{
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 10px;
    background-color: #bbb9b9;
    padding-bottom: 50px;
}

h1
{
    padding-left: 20px;
}

.pasta .cor 
{
    width: 20px;
    height: 20px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 8px;
}

.botoes 
{
    margin-top: 10px;
}

.botoes button 
{
    margin-right: 8px;
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.acessar {
    background-color: #0e8ac4;
}

.editar {
    background-color: #cfb419;
}

.excluir {
    background-color: #c40808;
}

/*botões inferiores: */
.voltar
{
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;


    background-color: #8000FF;
    color: black;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.novapasta
{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;


    background-color: #8000FF;
    color: black;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

/*caso não tenha nenhuma pasta*/
.mensagemvazia
{
    padding-left: 20px;
}