body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background: #000000;
}

h1 {
  text-align: center;
   background: #a200ff;
}

.counters {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.counter {
  background: #a200ff;
  border-radius: 10px;
  padding: 15px 25px;
  box-shadow: 0 0 10px rgb(153, 0, 255);
  font-size: 1.2em;
}

.task-list {
  max-width: 600px;
  margin: 40px auto;
}

.task-item {
  background: #ae00ff;
  border-left: 6px solid rgb(149, 0, 248);
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgb(144, 0, 228);
}

.task-item.done {
  border-color: green;
}

.task-item.late {
  border-color: red;
}

.task-item.pending {
  border-color: orange;
}

.task-item strong {
  display: block;
  font-size: 1.1em;
}


